<% layout("/layouts/boilerplate")%>

<div class="row mt-3"> <!-- row div mt: margin from top=3 -->
  <div class="col-8 offset-2">

<!--------------------------------------------------------------------------------------------------------------------------------------------------------->

    <h3>Edit your Listing</h3>
    <!-- After clicking edit button PUT req jani cahiye so we use overriding  -->
    <form 
        method="POST" 
        action="/listings/<%= listing._id %>?_method=PUT"  
        novalidate 
        class="needs-validation"
        enctype="multipart/form-data"
    >

      <!-- DIV title ---------------------->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>

        <input name="listing[title]" 
        value="<%= listing.title %>" 
        type="text" 
        class="form-control" 
        required/>
        
        <div class="valid-feedback">Title looks good.</div>
        <div class="invalid-feedback">Title missing.</div>

      </div>
      

      <!-- DIV description ---------------------->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>

        <textarea name="listing[description]" class="form-control" required><%=listing.description%></textarea>

        <div class="valid-feedback">Description looks good.</div>
        <div class="invalid-feedback">Description missing.</div>

      </div>
      
      
    <!-- DIV image ---------------------->

      <!-- Image preview upon edit -->
      <div class="mb-3">
        Original Listing Image <br/>
        <img src = "<%= originalImageUrl %>"/>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>

        <input name="listing[image]" 
        type="file" 
        class="form-control"
        />

        <div class="valid-feedback">Image looks good.</div>

      </div>
    
  <!-- row div -->
  <div class="row"> 
    <!-- price and country ek line pe aye so we divided them in ratio 4:8 as col-4 and col-8 with md for medium screen size -->
    
      <!-- DIV price ---------------------->
      <div class="mb-3 col-md-4">

        <label for="price" class="form-label">Price</label>

        <input name="listing[price]" 
        value="<%= listing.price %>" 
        type="number" 
        class="form-control"
        required/>

        <div class="valid-feedback">Price looks good.</div>
        <div class="invalid-feedback">Price missing.</div>

      </div>
      
      <!-- DIV country ---------------------->
      <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>

        <input
        name="listing[country]"
        value="<%= listing.country %>"
        type="text"
        class="form-control"
        required/>

        <div class="valid-feedback">Country looks good.</div>
        <div class="invalid-feedback">Country missing.</div>

      </div>
  </div> <!-- row div -->

      <!-- DIV location ---------------------->
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>

        <input
        name="listing[location]"
        value="<%= listing.location %>"
        type="text"
        class="form-control"
        required/>

        <div class="valid-feedback">Location looks good.</div>
        <div class="invalid-feedback">Location missing.</div>

      </div>

      <button class="btn btn-dark editform-btn mb-3">Edit</button>
    
    </form>
<!------------------------------------------------------------------------------------------------------------------------------------------------------- -->

  </div> <!-- col div -->
</div> <!-- row div -->

